* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'noto sans', 'sans serif';
  }

  /*Header*/

  .main-header {
    box-shadow: 1px 2px 15px 1px;
  }

  .logo-img {
    width: 150px;
    height: auto;
    position: relative;
    right: 23px;
  }
  
  header {
    background-color: #C83E4D
  }

  li {
    list-style: none;
  }

  .header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
  }

 .header-nav {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 18vw;
}

.header-li {
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
  color: #F4B860;
}

.header-li a {
  text-decoration: underline;
  color: inherit;
}

.right-section {
  display: flex;
  position: relative;
  left: 1.5vw;
}

.cart-container {
  height: 10vh;
  display: flex;
  align-items: center;
  
}

.cart {
  height: 90px;
  width: auto;
  border-radius: 10%;

}

/*Burger Menu*/
.burger {
  height: 10vh;
}

.burger-container {
  background-color:#C83E4D;
  display: none;
}

.burger-container:active {
  display: block;
}

.burger-h1, .burger-li {
  text-align: center;
}

.burger-h1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #32373B;
  color: #F4B860;
}

.burger-li {
  margin-top: 15vh;
  font-size: 22px;
  text-decoration: underline;
  color: #F4B860;
}

.burger-li.bottom {
  padding-bottom: 10vh;
}


/*Hidden Menu*/

.food-menu {
 display: none;
}

.hidden-h3 {
  position: relative;
  top: 25px;
  padding: 3px auto;
  margin: auto 200px;
  background-color: orange;
}

.menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.combo-img {
  width: 17rem;
  height: 21.5rem
}

.chicken-img {
  width: 17rem;
  height: 20rem
}

.pie-img {
  width: 15rem;
  height: 100%
}

.value-img {
  width: 15rem;
  height: 19.5rem;
}

.beverage-img {
  width: 15rem;
}

.dessert-img {
  width: 17rem;
  height: 15rem;
}

.kids-img {
  width: 15rem;
}

.sides-img {
  width: 15rem;
}

.grid-item-five {
  width: 276px;
}

.grid-item-one, .grid-item-two, .grid-item-three, .grid-item-four {
  height: 80%;
}


.grid-item-one, .grid-item-two, .grid-item-three, .grid-item-four, 
.grid-item-five, .grid-item-six, .grid-item-seven, .grid-item-eight {
  border: 2px solid;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  margin-top: 50px;
  text-decoration: underline 3px dotted;
  transition: transform 0.3s ease;
  padding-bottom: 5px
}

.grid-item-one:hover, .grid-item-two:hover, .grid-item-three:hover, .grid-item-four:hover, 
.grid-item-five:hover, .grid-item-six:hover, .grid-item-seven:hover, .grid-item-eight:hover {
  transform: scale(1.08);
  cursor: pointer
}

/*End of hidden menu*/

h3 {
  text-align: center;
}

/*Login*/

.bg-color {
   background-image: url('https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.png');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}
.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  display: block;
  border: 3px solid;
  background-color: #32373B;
  padding: 40px;
  border-radius: 10px;
  border-color:#4a5859
}
.login-h2 {
  padding-bottom: 40px;
  padding-top: 25px;
}
.login-h2, .login-h4 {
  color: #C83E4E;
}
.login-h4 {
  padding-bottom: 5px;
  text-decoration: underline;
}
.login-h4.password {
  position: relative;
  top: 15px;
}
.login-button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px 23% 8px 23%;
  color: #C83E4E;
  font-size: 16px;
  margin-left: 2px;
  border: 2px solid #32373B;
  transition: background-color 0.4s ease-in-out;
  border-radius: 4px;
}
.login-button:hover {
  background: linear-gradient(to right, #C83E4E, orange);
  color: #F4D6CC;
  cursor: pointer;
}
.email-box {
  padding: 5px 60px 5px 10px;
  border-radius: 3px;
  border: 4px solid #4A5859
}
.email-box.password {
  margin-top: 15px;
}

.login-home {
  width: 70px;
  height: auto;
  position: relative;
  margin-left: 37.5%;
  padding-top: 15px;
  cursor: pointer;
}

.return-home {
  padding-top: 25px;
  margin-right: 20px;
  color:#febf00
}

/*End of login*/


/*Home page*/

.banner-div {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  position: relative;
  width: 75vw;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 72px;
}

.banner-img {
  border-radius: 15px;
}

.banner-h1 {
  margin-top: 380px;
  color: #F4B860;
  line-height: 60px;
  letter-spacing: 1px;
  font-size: 34px;
  position: relative;
  right: 70px;
  background-color: hsla(10 99.8% 0% / 0.7);
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.banner-h1 span {
  display: block;
}

main {
  background-image: url('images/markus-winkler-UoPGcGEBEUU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 52vh;

}

section {
  background-color: #4A5859;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-55%);
  color: orange;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

.main-p-box {
  display: flex;
  padding: 10% 5% 10% 10%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 22%;
  background-color : #C83E4D;
  border-radius: 10px;
  color: #F4B860;
  position: relative;
  top: 11vh;
}

.p-text {
  font-size: 20px;
  line-height: 2.1rem;
}

/*Customer review cards*/

.cards-h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
  color:#F4B860
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: black;
  gap: 100px;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.top-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  border-radius: 5px;
}

.top-feedback {
  background-color:#32373B;
  padding-bottom: 14px;
}


.top-image {
  height: 150px;
  width: auto;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.top-image.one {
  width: 150px;
}

.main-feedback {
  line-height: 36px;
  padding-top: 8px;
  color:#F4B860;
}

.paragraph-text {
  line-height: 28px;
  color:#F4D6CC
}


/*Slideshow home page*/

.slide-show-h2 {
  color: orange;
  text-align: center;
  margin-bottom: 4vh
}

.slideshow {
  margin-top: 16vh;
  border: 3px solid;
  position: relative;
  padding-bottom: 7%;
  padding-top: 7%;
  background-color: #32373B;
}

.slide-img {
  width: 37vw;
  height: auto;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
  margin-left: 32%
}

.slide-text {
  margin-right: 42%;
}

.java-arrow-left, .java-arrow-right {
  width: 6vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.java-arrow-left {
  left: 0;
}

.java-arrow-right {
  right: 0;
  padding-top: 20px;
}

.slide-text {
  color:#F4B860
}

/*End of slideshow*/


/*Footer*/

.main-div-footer {
  background-color: lightyellow;
  padding: 3%;
}

.top-footer-h4 {
  font-size: 18px;
  line-height: 30px;
}

.footer-h4 {
  padding-top: 50px;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

/*Chicken Combo*/

.combo-menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background-color:#32373B
}

.grid-combo-one, .grid-combo-two, 
.grid-combo-three, .grid-combo-four {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 14%;
  color:#F4B860
}

.combo-item-one {
  width: 30vw;
  height: auto;
}

.combo-item-two {
  width: 30vw;
  height: auto;
}

.combo-item-three {
  width: 30vw;
  height: auto;
}

.combo-item-four {
  width: 30vw;
  height: auto;
}

.order-button {
  border-radius: 5px;
  padding: 10px;
  color: #C83E4D;
  font-size: 16px;
  cursor: pointer;
   border: 2px solid #32373B;
  transition: background-color 0.4s ease-in-out;
}

.order-button:hover {
  background: linear-gradient(to right, #C83E4E, orange);
  color: #F4D6CC;
  cursor: pointer;
}

/*End of Chicken Combo*/



/*Javascript Buttons*/
.add-item, .subtract-item {
  width: 45px;
  height: auto;
  cursor: pointer;
}

.add-subtract {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.counter {
  font-size: 24px;
  color: gold;
    background-color: black;
    padding: 0px 10px;

}

.order-button {
  display: block;
  margin: 15px auto;
}

/*End of javascript buttons*/

@media (max-width: 780px) {
  .header-nav {
    gap: 9vw
  }
}

@media(max-width: 650px) {
  .header-nav, .cart {
    display: none;
  }
  .burger {
    cursor: pointer;
  }
}



@media (min-width: 650px) {
  .burger {
    display: none;
  }

  .burger-container {
    display: none;
  }

  .banner-img {
    display: none;
  }
}


@media (max-width: 650px) {
  .cards-h1 {
    margin-top: 160px;
    font-size: 26px;
  }
}

@media (max-width: 700px) {

  .banner-div {
    flex-direction: column;
    align-items: center;
    position: relative;
    
  }

.banner-h1 {
   text-align: center;
   font-size: 28px;
}

  .banner-h1 span {
    display: inline;
  }
}

@media (max-width: 400px) {
  .banner-div {
    position: relative;
    left: 30px;
  }

  .banner-h1 {
    font-size: 22px;
  }

  body {
    overflow-x: hidden;
  }
}


@media(max-width: 1050px) {
  .menu-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  }
}

@media (max-width: 1020px) {
  .main-cards {
    grid-template-columns: auto;
  }
}